<section data-ng-controller="AdminController" data-ng-init="fetch()">

    <div class="panel panel-default alignments">
        <div class="panel-heading">Alignments</div>
        <span class="glyphicon glyphicon-plus add--element" ng-click="showForm('alignments')"></span>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Alignment</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="alignment in alignments" class="{{alignment.color}}">
                    <td class="title">{{alignment.name}}</td>
                    <td class="description">{{alignment.description}}</td>
                    <td class="delete"><span class="glyphicon glyphicon-trash" ng-click="deleteElement('alignments',alignment._id)"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default inclinations" >
        <div class="panel-heading">Inclinations</div>
        <span class="glyphicon glyphicon-plus add--element" ng-click="showForm('inclinations')"></span>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Inclination</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="inclination in inclinations" class="{{alignment.color}}">
                    <td class="title">{{inclination.name}}</td>
                    <td class="description">{{inclination.description}}</td>
                    <td class="delete"><span class="glyphicon glyphicon-trash" ng-click="deleteElement('inclinations',inclination._id)"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default rules" style="clear: both;">
        <div class="panel-heading">Rules</div>
        <span class="glyphicon glyphicon-plus add--element" ng-click="showForm('rules')"></span>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th data-ng-repeat="alignment in alignments" class="{{alignment.color}} centered ">
                        {{alignment.name}}
                    </th>
                    <th data-ng-repeat="inclination in inclinations" class="centered blue">{{inclination.name}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="rule in rules">
                    <td class="number">{{$index + 1}}</td>
                    <td class="title">{{rule.name}}</td>
                    <td class="description">{{rule.description}}</td>
                    <td data-ng-repeat="alignment in alignments" class="centered {{alignment.color}}">
                        {{0+getValueFromObjectInArray(rule.conditions.alignments,'_id',alignment._id,'chances')}}%
                    </td>
                    <td data-ng-repeat="inclination in inclinations" class="centered blue">
                        {{0+getValueFromObjectInArray(rule.conditions.inclinations,'_id',inclination._id,'chances')}}%
                    </td>
                    <td class="delete">
                        <span class="glyphicon glyphicon-trash" ng-click="deleteElement('rules',rule._id)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default tasks" style="clear: both;">
        <div class="panel-heading">Tasks</div>
        <span class="glyphicon glyphicon-plus add--element" ng-click="showForm('tasks')"></span>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th data-ng-repeat="alignment in alignments" class="{{alignment.color}} centered ">
                        {{alignment.name}}
                    </th>
                    <th data-ng-repeat="inclination in inclinations" class="centered blue">{{inclination.name}}</th>
                    <th data-ng-repeat="rule in rules" class="centered">{{rule.name}}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="task in tasks">
                    <td class="number">{{$index + 1}}</td>
                    <td class="description">{{task.description}}</td>
                    <td data-ng-repeat="alignment in alignments" class="centered {{alignment.color}}">
                        {{0+getValueFromObjectInArray(task.conditions.alignments,'_id',alignment._id,'chances')}}%
                    </td>
                    <td data-ng-repeat="inclination in inclinations" class="centered blue">
                        {{0+getValueFromObjectInArray(task.conditions.inclinations,'_id',inclination._id,'chances')}}%
                    </td>
                    <td data-ng-repeat="rule in rules" class="centered">
                        {{0+getValueFromObjectInArray(task.conditions.rules,'_id',rule._id,'chances')}}%
                    </td>
                    <td class="delete">
                        <span class="glyphicon glyphicon-trash" ng-click="deleteElement('tasks',task._id)"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div ng-include src="'public/admin/views/form.html'"></div>

    <style>
        .panel{
            position: relative;
            opacity: 0.9;
        }
        .alignments .panel-body,
        .inclinations .panel-body,
        .rules .panel-body,
        .tasks .panel-body{
            padding: 0;
        }
        .panel table{
            color: #000;
        }
        .panel .add--element{
            position: absolute;
            top: 9px;
            right: 9px;
            color:#d3d3d3;
            font-weight: 100;
            font-size: 20px;
        }
        .panel .add--element:hover{
            color:#333333;
        }
        .panel.alignments{
            width: 49%;
            float: left;
        }
        .panel.inclinations{
            width: 49%;
            float: left;
            margin-left: 2%;
        }
        .table{
            margin-bottom: 0;
        }
        .table td.title,
        .table td.number,
        .table td.delete{
            font-weight: bold;
            vertical-align: middle;
        }
        .table td.description{
            max-width: 40%;
        }
        .table td.delete{
            color: #ac2925;
        }
        .table tr {
            position: relative;
        }
        .table .centered{
            text-align: center;
            vertical-align: middle;
        }
        .table .green{
            background-color: #dff0d8;
        }
        .table .yellow{
            background-color: #fcf8e3;
        }
        .table .red{
            background-color: #f2dede;
        }
        .table .blue{
            background-color: #A0C5E4;
        }
    </style>
</section>