<section data-ng-controller="AdminController" data-ng-init="fetch()">
    <div class="panel panel-default alignments">
        <div class="panel-heading">Alignments</div>
        <span class="glyphicon glyphicon-plus add--element" ng-click="showForm('alignments')"></span>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Alignment</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="alignment in alignments" class="{{alignment.color}}">
                    <td class="number">{{$index + 1}}</td>
                    <td class="title">{{alignment.name}}</td>
                    <td class="description">{{alignment.description}}</td>
                    <td class="delete"><span class="glyphicon glyphicon-trash" ng-click="deleteElement('alignments',alignment._id)"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default inclinations" >
        <div class="panel-heading">Inclinations</div>
        <span class="glyphicon glyphicon-plus add--element" ng-click="showForm('inclinations')"></span>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Inclination</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="inclination in inclinations" class="{{alignment.color}}">
                    <td class="number">{{$index + 1}}</td>
                    <td class="title">{{inclination.name}}</td>
                    <td class="description">{{inclination.description}}</td>
                    <td class="delete"><span class="glyphicon glyphicon-trash" ng-click="deleteElement('inclinations',inclination._id)"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default rules" style="clear: both;">
        <div class="panel-heading">Rules</div>
        <span class="glyphicon glyphicon-plus add--element" ng-click="showForm('rules')"></span>
        <div class="panel-body">

        </div>
    </div>
    <div class="panel panel-default tasks" style="clear: both;">
        <div class="panel-heading">Tasks</div>
        <span class="glyphicon glyphicon-plus add--element" ng-click="showForm('tasks')"></span>
        <div class="panel-body">
        </div>
    </div>
    <div ng-include src="'public/admin/views/form.html'"></div>
    <style>
        .panel{
            position: relative;
            opacity: 0.9;
        }
        .alignments .panel-body,
        .inclinations .panel-body,
        .rules .panel-body,
        .tasks .panel-body{
            padding: 0;
        }
        .panel table{
            color: #000;
        }
        .panel .add--element{
            position: absolute;
            top: 9px;
            right: 9px;
            color:#d3d3d3;
            font-weight: 100;
            font-size: 20px;
        }
        .panel .add--element:hover{
            color:#333333;
        }
        .panel.alignments{
            width: 49%;
            float: left;
        }
        .panel.inclinations{
            width: 49%;
            float: left;
            margin-left: 2%;
        }
        .table{
            margin-bottom: 0;
        }
        .table td.title,
        .table td.number,
        .table td.delete{
            vertical-align: middle;
        }
        .table td.delete{
            color: #ac2925;
        }
        .table tr {
            position: relative;
        }
        .table tr.green{
            background-color: #dff0d8;
        }
        .table tr.yellow{
            background-color: #fcf8e3;
        }
        .table tr.red{
            background-color: #f2dede;
        }
    </style>
</section>