<section data-ng-controller="AdminFormController">
    <div class="form--overlay">
        <div class="panel panel-default form" style="clear: both;">
            <a class="close"><span class="glyphicon glyphicon-remove"></span></a>
            <div class="panel-heading">Add item</div>
            <div class="panel-body">
                <div class="create">
                    <form>
                        <div class="row">
                            <div class="form-group col-xs-4">
                                <input class="form-control" placeholder="Name" />
                            </div>
                            <div class="form-group col-xs-8">
                                <textarea class="form-control" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="row percentages">
                            <div class="col-xs-2 alignments" style="padding-left: 0;">
                                <div class="form-group col-xs-1">
                                    <input class="form-control" placeholder="1" tooltip="Good" tooltip-placement="bottom" />
                                </div>
                                <div class="form-group col-xs-1">
                                    <input class="form-control" placeholder="2" tooltip="Neutral" tooltip-placement="bottom" />
                                </div>
                                <div class="form-group col-xs-1">
                                    <input class="form-control" placeholder="3" tooltip="Evil" tooltip-placement="bottom" />
                                </div>
                            </div>
                            <div class="col-xs-10 inclinations">
                                <div class="form-group col-xs-1">
                                    <input class="form-control" placeholder="1" tooltip="Fucking crazy" tooltip-placement="bottom" />
                                </div>
                                <div class="form-group col-xs-1">
                                    <input class="form-control" placeholder="2" tooltip="Order fascist" tooltip-placement="bottom" />
                                </div>
                                <div class="form-group col-xs-1">
                                    <input class="form-control" placeholder="3" tooltip="Chaos monger" tooltip-placement="bottom" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-1">
                            <button type="submit" class="btn btn-lg btn-default">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <style>
        .close{
            margin-top: 5px;
            margin-right: 5px;
        }
        .form--overlay .percentages {
            padding: 0 0 20px 0;
        }
        .form--overlay .percentages .form-group input{
            text-align: center;
        }
        .form--overlay .percentages .form-group{
            width: 85px;
        }
        .form--overlay{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 100px;
        }
    </style>
</section>